@import '../../../@theme/styles/themes.scss';

@include nb-install-component() {
  ::ng-deep .form {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-top: 1.5rem;
    }
  }
}

// :host {
//     max-height: 180vh;
//     min-height: 180vh;
// }

