<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Dados básicos</nb-card-header>
        <nb-card-body>
          <form class="form-inline">
            <input type="text" nbInput fullWidth placeholder="Nome do Projeto">
            <input type="text" nbInput fullWidth placeholder="Sigla">
            <input type="text" nbInput fullWidth placeholder="Data de Início">
            <nb-checkbox>Adicionar aos favoritos</nb-checkbox>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Configurações</nb-card-header>
            <nb-card-body>
              <form>
                <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">Budget</label>
                        <input type="text" nbInput fullWidth id="inputFirstName" placeholder="R$ 1.000.000,00">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputLastName" class="label">Status</label>
                        <nb-select matRipple selected="1" fullWidth>
                            <nb-option matRipple value="1">OS Aprovada</nb-option>
                            <nb-option matRipple value="2">Option 2</nb-option>
                          </nb-select>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="inputLastName" class="label">Custo/Hora</label>
                        <input type="text" nbInput fullWidth id="inputFirstName" placeholder="R$ 1.000.000,00">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="inputLastName" class="label">Margem/Lucro</label>
                        <input type="text" nbInput fullWidth id="inputFirstName" placeholder="R$ 1.000.000,00">
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                          <label for="inputLastName" class="label">Cliente</label>
                          <div class="input-group mb-3">
                            <input type="text" readonly class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" [(value)]="selectedClient.razaoSocial">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="selectClient()">
                                <nb-icon class="search-icon" icon="search-outline" pack="eva"></nb-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputEmail" class="label">Email responsável</label>
                        <input type="email" nbInput fullWidth id="inputEmail" placeholder="comercial@empresa.com.br">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputWebsite" class="label">N° Ordem de Serviço</label>
                        <input type="text" nbInput fullWidth id="inputWebsite" placeholder="OS16122020-01">
                      </div>
                    </div>
                </div>
                
                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" nbButton matRipple status="primary" outline style="margin: 0px 10px" (click)="backClicked()">Cancelar</button>
                    <button type="submit" nbButton status="primary">Salvar</button>
                  </div>
                </div>

              </form>
            </nb-card-body>
          </nb-card>
      </div>
  </div>