<nb-card>
    <nb-card-header>
      Billings
    </nb-card-header>
  
    <nb-card-body>

        <div class="row">
            <div class="col-md-4">
                <form>
                    <form class="form-inline">
                        <input type="text" nbInput fullWidth placeholder="Pesquisar pela razão social">
                      </form>
                </form>
            </div>
            <div class="col-md-2">
                <form>
                    <form class="form-inline">
                        <button class="btn btn-outline-secondary float-right" type="button" id="button-addon2">
                            Search
                        </button>
                    </form>
                </form>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary float-right" type="button" id="button-addon2">
                    New
                </button>
            </div>
        </div>

        <br>

        <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)='onEdit($event)'>
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
  