<form>
  <nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        <div style="width: 600px;">
            
            edit form
            
        </div>
    </nb-card-body>
    <nb-card-footer>
      
      <div class="row">
        <div class="col-sm-12">
          <button type="button" nbButton matRipple status="primary" outline style="margin-right: 10px" (click)="dismiss()">Close</button>
          <button type="submit" nbButton status="primary">Save</button>
        </div>
      </div>

    </nb-card-footer>
  </nb-card>
</form>
  