<form>
  <nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body [nbSpinner]="loading">
        <div style="width: 600px;">
            
          <form [formGroup]="form" #formSubmitted="ngForm">
            <div class="form-group row">
              <label for="name" class="label col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="email" nbInput formControlName="name" fullWidth id="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="code" class="label col-sm-3 col-form-label">Code</label>
              <div class="col-sm-9">
                <input type="text" nbInput formControlName="code" fullWidth id="code">
              </div>
            </div>
            <div class="form-group row">
              <label for="startDate" class="label col-sm-3 col-form-label">Start Date</label>
              <div class="col-sm-9">
                <input type="text" nbInput formControlName="startDate" fullWidth id="startDate">
              </div>
            </div>
            <div class="form-group row">
              <label for="client" class="label col-sm-3 col-form-label">Client</label>
              <div class="col-sm-9">
                <input type="text" nbInput formControlName="clientId" fullWidth id="client">
              </div>
            </div>
          </form>
        </div>
    </nb-card-body>
    <nb-card-footer>
      
      <div class="row">
        <div class="col-sm-12">
          <button type="button" nbButton matRipple status="primary" outline style="margin-right: 10px" (click)="dismiss()">Close</button>
          <button type="button" nbButton status="primary" (click)="onSubmit(formSubmitted, form.value)">Save</button>
        </div>
      </div>

    </nb-card-footer>
  </nb-card>
</form>
  