<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Dados básicos</nb-card-header>
        <nb-card-body>
          <form class="form-inline">
            <input type="text" nbInput fullWidth placeholder="Razão Social" name="socialName">
            <input type="text" nbInput fullWidth placeholder="CNPJ" name="cnpj">
            <input type="text" nbInput fullWidth placeholder="Email Comercial" name="businessEmail">
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header></nb-card-header>
            <nb-card-body>
              <form>
                <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="address" class="label">Endereço</label>
                        <input type="text" nbInput fullWidth id="address" name="address" placeholder="SGAN 900 Módulo F LT 01">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="state" class="label">Estado</label>
                        <nb-select matRipple selected="AC" fullWidth required name="state">
                            <nb-option *ngFor="let item of states" [value]="item.value">{{item.viewValue}}</nb-option>
                          </nb-select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                          <label for="city" class="label">Cidade</label>
                          <input type="text" nbInput fullWidth id="city" placeholder="Ex: Acrelândia">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                          <label for="cep" class="label">CEP</label>
                          <input type="text" nbInput fullWidth id="cep" placeholder="XXXXX-XXX">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label for="area" class="label">Area</label>
                          <input type="text" nbInput fullWidth id="area" name="area" placeholder="Ex: Indústria Metalúrgica">
                        </div>
                      </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="businessManager" class="label">Responsável Comercial</label>
                        <input type="text" nbInput fullWidth id="businessManager" name="businessManager">
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="businessTelefone" class="label">Telefone comercial</label>
                            <input type="text" nbInput fullWidth id="businessTelefone" name="businessTelefone" placeholder="61 9999 9999">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" nbButton matRipple status="primary" outline style="margin: 0px 10px" (click)="backClicked()">Cancelar</button>
                    <button type="submit" nbButton status="primary">Salvar</button>
                  </div>
                </div>
              </form>
            </nb-card-body>
          </nb-card>
      </div>
  </div>